body{
    background-image: url(/rocky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    margin:200px;
    display: flex;
    background-color: ;
    width: 50%;
}
p{
    padding: 5px;
    background-color: yellow;
}
.time_cont{
    display: flex;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
}
.one{
    margin-left: 20px ;
    justify-content: space-between;
}
h6{
    font-size: 20px;
}
.one{
    margin-top: 60px;
    background-color:rgb(39, 39, 39 );
    height: 100px;
}
